[submodule "mono_dataset_code"]
	path = mono_dataset_code
	url = https://github.com/Joachim-Despature/mono_dataset_code.git
[submodule "dso"]
	path = dso
	url = https://github.com/Joachim-Despature/dso.git
